# Python virtual environments
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

# MyPy
.mypy_cache/
.pytype/

# Environment variables
.env
.env.*

# IDEs and editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Local files
*.log
